src/fabric/ingestion_service/pipelines/dfa_pln_pdi_001_ingest_file_to_curated.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "formatSettings": {
              "type": "BinaryReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "modifiedDatetimeStart": {
                "value": "@variables('start_modified_end_datetime')",
                "type": "Expression"
              },
              "modifiedDatetimeEnd": {
                "value": "@variables('end_modified_end_datetime')",
                "type": "Expression"
              }
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@activity('GetDatasetMetadataFile').output.value[0].sourceSystemProperties.filesDirectoryName",
                    "type": "Expression"
                  }
                }
              },
              "linkedService": {
                "name": "21314e6b_dd97_46ab_9fb3_6dc0a37dd8cc",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.lh_raw_id",
                    "workspaceId": "@pipeline().parameters.workspace_id",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat(activity('GetDatasetMetadataFile').output.value[0].rawProperties.directoryName,'/',activity('GetDatasetMetadataFile').output.value[0].datasetName,'/',pipeline().RunId)",
                    "type": "Expression"
                  }
                }
              },
              "linkedService": {
                "name": "08ddd4eb_1a70_4b2c_bc29_36bc48955a70",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.lh_raw_id",
                    "workspaceId": "@pipeline().parameters.workspace_id",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy File from Uploads to Raw",
        "dependsOn": [
          {
            "activity": "Set EndTimeModified",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set StartTimeModified",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "additionalColumns": [
              {
                "name": "QueueMessage",
                "value": {
                  "value": "@concat('{ \"product_name\":',' \"',pipeline().parameters.Product_Name,'\", \"feed_name\": ','\"',pipeline().parameters.Feed_Name,'\", \n\"run_id\": ','\"',pipeline().RunId,'\",\n    \"elt_id\": ','\"',pipeline().parameters.ELT_Id,'\",\n    \"invocation_id\": ','\"',pipeline().parameters.invocation_id,'\",\n    \"source_system\": ','\"',activity('GetDatasetMetadataFile').output.value[0].sourceSystemProperties.sourceSystemName,'\",\n\"metadata\": ', activity('Copy File from Uploads to Raw').output,',\n\"zone_start_date_time\": ','\"',variables('end_modified_end_datetime'),'\",\n\"zone_end_date_time\": ','\"',utcNow(),'\",\n\"orchestration_tool\": \"data-pipeline\",\n\"zone\": \"Raw\",\n    \"stage\": \"Ingestion\",\n\"dataset_name\": ','\"',activity('GetDatasetMetadataFile').output.value[0].datasetName,'\"','}')",
                  "type": "Expression"
                }
              }
            ],
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "Json",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "templates/logs",
                  "fileName": "QueueMessage.json"
                }
              },
              "schema": {},
              "linkedService": {
                "name": "6ed7bfc4_4c01_4d5e_8f16_5fe3311e0117",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.lh_metadata_id",
                    "workspaceId": "@pipeline().parameters.workspace_id",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".json"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings",
              "copyBehavior": "PreserveHierarchy"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "Metadata_Logs",
                  "fileName": {
                    "value": "@concat(activity('GetDatasetMetadataFile').output.value[0].datasetName, '_', pipeline().RunId,'.json')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "",
                "escapeChar": "",
                "firstRowAsHeader": false
              },
              "schema": [],
              "linkedService": {
                "name": "d7ae41c6_307d_4b33_9b0b_6ed9c0235ec2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "@pipeline().parameters.lh_observability_id",
                    "workspaceId": "@pipeline().parameters.workspace_id",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            },
            "columnFlattenSettings": {
              "treatArrayAsString": false,
              "treatStructAsString": false,
              "flattenColumnDelimiter": "."
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy Metadata Logs",
        "dependsOn": [
          {
            "activity": "Copy File from Uploads to Raw",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "wildcardFolderPath": {
                "value": "@concat('datasets/',pipeline().parameters.source_config_folder_name,'/watermark')",
                "type": "Expression"
              },
              "wildcardFileName": {
                "value": "@concat(pipeline().parameters.source_config_file_name,'.json')",
                "type": "Expression"
              },
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "847fa3ca_e88d_40f0_b230_bda866c2acd0",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "@pipeline().parameters.lh_metadata_id",
                  "workspaceId": "@pipeline().parameters.workspace_id",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Watermark",
        "dependsOn": [
          {
            "activity": "GetDatasetMetadataFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "start_modified_end_datetime",
          "value": {
            "value": "@activity('Get Watermark').output.value[0].watermarkValue",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set StartTimeModified",
        "dependsOn": [
          {
            "activity": "Get Watermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "end_modified_end_datetime",
          "value": {
            "value": "@utcNow()",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set EndTimeModified",
        "dependsOn": [
          {
            "activity": "Get Watermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greater(activity('Copy File from Uploads to Raw').output.dataRead,0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "1a1f48eb-7279-4b92-81fe-c2cfb6000f2a",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "feed_name": {
                    "value": {
                      "value": "@pipeline().parameters.Feed_Name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "run_id": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "elt_id": {
                    "value": {
                      "value": "@pipeline().parameters.ELT_Id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "elt_start_date_time": {
                    "value": {
                      "value": "@pipeline().parameters.Elt_Start_Date_Time",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "product_name": {
                    "value": {
                      "value": "@pipeline().parameters.Product_Name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "raw_directory": {
                    "value": {
                      "value": "@concat(activity('GetDatasetMetadataFile').output.value[0].rawProperties.directoryName,'/',activity('GetDatasetMetadataFile').output.value[0].datasetName,'/',pipeline().RunId)",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "dataset_config_folder_name": {
                    "value": {
                      "value": "@pipeline().parameters.source_config_file_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "dataset_file_name": {
                    "value": {
                      "value": "@pipeline().parameters.source_config_file_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "dataset_config_json": {
                    "value": {
                      "value": "@string(activity('GetDatasetMetadataFile').output.value[0])",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "source_system": {
                    "value": {
                      "value": "@activity('GetDatasetMetadataFile').output.value[0].sourceSystemProperties.sourceSystemName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "invocation_id": {
                    "value": {
                      "value": "@pipeline().parameters.invocation_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "workspace_id": {
                    "value": {
                      "value": "@pipeline().parameters.workspace_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "lh_observability_id": {
                    "value": {
                      "value": "@pipeline().parameters.lh_observability_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "lh_raw_id": {
                    "value": {
                      "value": "@pipeline().parameters.lh_raw_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "LoadRawToCurated",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "JsonSource",
                  "formatSettings": {
                    "type": "JsonReadSettings"
                  },
                  "additionalColumns": [
                    {
                      "name": "QueueMessage",
                      "value": {
                        "value": "@concat('{\"sourceWatermarkIdentifier\" :',' \"',activity('Get Watermark').output.value[0].sourceWatermarkIdentifier,'\",\n        \"watermarkValue\" : ','\"', variables('end_modified_end_datetime'),'\"','}')\n\n",
                        "type": "Expression"
                      }
                    }
                  ],
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": false,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "templates/logs",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "QueueMessage.json",
                          "type": "Expression"
                        }
                      }
                    },
                    "schema": {},
                    "linkedService": {
                      "name": "d2339315_74f4_4c6d_b51b_e4798e0beceb",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@pipeline().parameters.lh_metadata_id",
                          "workspaceId": "@pipeline().parameters.workspace_id",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat('datasets/',pipeline().parameters.source_config_folder_name,'/watermark')",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(pipeline().parameters.source_config_file_name,'.json')",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "",
                      "escapeChar": "",
                      "firstRowAsHeader": false
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "f9b51e31_c944_47fc_b430_2c288bb7fdee",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@pipeline().parameters.lh_metadata_id",
                          "workspaceId": "@pipeline().parameters.workspace_id",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  },
                  "columnFlattenSettings": {
                    "treatArrayAsString": false,
                    "treatStructAsString": false,
                    "flattenColumnDelimiter": "."
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Update Watermark",
              "dependsOn": [
                {
                  "activity": "LoadRawToCurated",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "JsonSource",
                  "formatSettings": {
                    "type": "JsonReadSettings"
                  },
                  "additionalColumns": [
                    {
                      "name": "QueueMessage",
                      "value": {
                        "value": "{\"zoneCuratedUpdates\": true}",
                        "type": "Expression"
                      }
                    }
                  ],
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": false,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "templates/logs",
                        "fileName": "QueueMessage.json"
                      }
                    },
                    "schema": {},
                    "linkedService": {
                      "name": "6ed7bfc4_4c01_4d5e_8f16_5fe3311e0117",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@pipeline().parameters.lh_metadata_id",
                          "workspaceId": "@pipeline().parameters.workspace_id",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".json"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat(pipeline().parameters.feed_name,'_',pipeline().parameters.ELT_Id)",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(pipeline().parameters.source_config_file_name,'.json')",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "",
                      "escapeChar": "",
                      "firstRowAsHeader": false
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "d7ae41c6_307d_4b33_9b0b_6ed9c0235ec2",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@pipeline().parameters.lh_observability_id",
                          "workspaceId": "@pipeline().parameters.workspace_id",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  },
                  "columnFlattenSettings": {
                    "treatArrayAsString": false,
                    "treatStructAsString": false,
                    "flattenColumnDelimiter": "."
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Dummy File",
              "description": "Creates dummy file to indicate that new file was ingested to curated. This is a signal for upstream workflow to trigger data product run.",
              "dependsOn": [
                {
                  "activity": "LoadRawToCurated",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "JsonSource",
                  "formatSettings": {
                    "type": "JsonReadSettings"
                  },
                  "additionalColumns": [
                    {
                      "name": "QueueMessage",
                      "value": {
                        "value": "@concat('{\"sourceWatermarkIdentifier\" :',' \"',activity('Get Watermark').output.value[0].sourceWatermarkIdentifier,'\",\n        \"watermarkValue\" : ','\"', variables('end_modified_end_datetime'),'\"','}')\n\n",
                        "type": "Expression"
                      }
                    }
                  ],
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": false,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "templates/logs",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "QueueMessage.json",
                          "type": "Expression"
                        }
                      }
                    },
                    "schema": {},
                    "linkedService": {
                      "name": "d2339315_74f4_4c6d_b51b_e4798e0beceb",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@pipeline().parameters.lh_metadata_id",
                          "workspaceId": "@pipeline().parameters.workspace_id",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat('datasets/',pipeline().parameters.source_config_folder_name,'/watermark')",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(pipeline().parameters.source_config_file_name,'.json')",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "",
                      "escapeChar": "",
                      "firstRowAsHeader": false
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "f9b51e31_c944_47fc_b430_2c288bb7fdee",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@pipeline().parameters.lh_metadata_id",
                          "workspaceId": "@pipeline().parameters.workspace_id",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  },
                  "columnFlattenSettings": {
                    "treatArrayAsString": false,
                    "treatStructAsString": false,
                    "flattenColumnDelimiter": "."
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "No File Update Watermark",
              "dependsOn": []
            }
          ]
        },
        "name": "If Data DataRead",
        "dependsOn": [
          {
            "activity": "Copy File from Uploads to Raw",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "wildcardFolderPath": {
                "value": "@concat('datasets/',pipeline().parameters.source_config_folder_name)",
                "type": "Expression"
              },
              "wildcardFileName": {
                "value": "@concat(pipeline().parameters.source_config_file_name,'.json')",
                "type": "Expression"
              },
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "e73b8991_c031_4845_a742_26000eaf5137",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "@pipeline().parameters.lh_metadata_id",
                  "workspaceId": "@pipeline().parameters.workspace_id",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetDatasetMetadataFile",
        "dependsOn": []
      }
    ],
    "parameters": {
      "ELT_Id": {
        "type": "string",
        "defaultValue": " 7ae6d15a-cf3b-49d6-816a-93f48da92a4e"
      },
      "Feed_Name": {
        "type": "string",
        "defaultValue": "claims_bop"
      },
      "Product_Name": {
        "type": "string",
        "defaultValue": "BOP"
      },
      "Elt_Start_Date_Time": {
        "type": "string",
        "defaultValue": "11/07/2024 20:02:44"
      },
      "lh_metadata_id": {
        "type": "string",
        "defaultValue": "dd833297-aa05-4142-887c-1e5e01ceecc3"
      },
      "workspace_id": {
        "type": "string",
        "defaultValue": "a5b83bde-449c-4623-a821-90f37a02ac15"
      },
      "lh_raw_id": {
        "type": "string",
        "defaultValue": "890c80a0-8732-4669-ba8d-5633637feed7"
      },
      "source_config_folder_name": {
        "type": "string",
        "defaultValue": "accounting"
      },
      "source_config_file_name": {
        "type": "string",
        "defaultValue": "massive_claims"
      },
      "invocation_id": {
        "type": "string",
        "defaultValue": "f6377cb5-533f-4b6a-b923-3d937d170056"
      },
      "lh_observability_id": {
        "type": "string",
        "defaultValue": "354ed696-2caa-4049-8799-2f6dcf5c8adc"
      }
    },
    "variables": {
      "raw_directory": {
        "type": "String"
      },
      "end_modified_end_datetime": {
        "type": "String"
      },
      "start_modified_end_datetime": {
        "type": "String"
      }
    }
  }
}