src/fabric/policy_dp/pipelines/dfa_pln_dpr_001_policy_dp_scheduled.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {
            "lh_metadata_id": {
              "value": "@pipeline().parameters.lh_metadata_id",
              "type": "Expression"
            },
            "workspace_id": {
              "value": "@pipeline().parameters.workspace_id",
              "type": "Expression"
            },
            "Feed_Name": {
              "value": "@pipeline().parameters.Feed_Name",
              "type": "Expression"
            },
            "Product_Name": {
              "value": "@pipeline().parameters.Product_Name",
              "type": "Expression"
            },
            "lh_raw_id": {
              "value": "@pipeline().parameters.lh_raw_id",
              "type": "Expression"
            },
            "lh_observability_id": {
              "value": "@pipeline().parameters.lh_observability_id",
              "type": "Expression"
            },
            "ELT_Id": {
              "value": "@variables('elt_values')[0]",
              "type": "Expression"
            },
            "Elt_Start_Date_Time": {
              "value": "@variables('elt_values')[1]",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true,
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "pipelineId": "57f084a5-c475-40bc-8fe4-74b5cbc89568",
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Invoke Data Product Ochestrator",
        "dependsOn": [
          {
            "activity": "Initiate Feed Run",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": { "type": "JsonReadSettings" },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "feeds",
                "fileName": {
                  "value": "@concat(pipeline().parameters.Feed_Name,'.json')",
                  "type": "Expression"
                }
              }
            },
            "schema": {},
            "linkedService": {
              "name": "2e07d385_28c5_4ce9_85d1_63a09bb2f23c",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "@pipeline().parameters.lh_metadata_id",
                  "workspaceId": "@pipeline().parameters.workspace_id",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Feed Metadata",
        "description": "Just a validation step to check for the existence of the feed file before processing.",
        "dependsOn": [
          {
            "activity": "If Skip Database Restore Check",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "elt_values",
          "value": {
            "value": "@createArray(pipeline().RunId,pipeline().TriggerTime)",
            "type": "Expression"
          }
        },
        "policy": { "secureInput": false, "secureOutput": false },
        "name": "Get ELT Values",
        "dependsOn": []
      },
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {
            "lh_metadata_id": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
            "workspace_id": { "value": "@pipeline().parameters.workspace_id", "type": "Expression" },
            "Feed_Name": { "value": "@pipeline().parameters.Feed_Name", "type": "Expression" },
            "Product_Name": { "value": "@pipeline().parameters.Product_Name", "type": "Expression" },
            "lh_raw_id": { "value": "@pipeline().parameters.lh_raw_id", "type": "Expression" },
            "lh_observability_id": { "value": "@pipeline().parameters.lh_observability_id", "type": "Expression" },
            "run_id": { "value": "@variables('elt_values')[0]", "type": "Expression" },
            "elt_start_date_time": { "value": "@variables('elt_values')[1]", "type": "Expression" }
          },
          "waitOnCompletion": false,
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "pipelineId": "2aa722ea-93bd-a872-44ac-52fb6d064565",
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Initiate Feed Run",
        "description": "This pipeline runs in async mode",
        "dependsOn": [
          {
            "activity": "Get Feed Metadata",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@pipeline().parameters.skip_database_restore",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "DatabaseNames": { "value": "@variables('database_names')", "type": "Expression" },
                  "DelaySeconds": { "value": "@variables('delay_seconds')", "type": "Expression" },
                  "CurrentDate": {
                    "value": "@formatDateTime(addHours(pipeline().TriggerTime, -4), 'yyyy-MM-dd')\n",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "14fa050e-28ab-8143-42c1-2568076e9dcc",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check Database Restore State",
              "dependsOn": []
            }
          ]
        },
        "name": "If Skip Database Restore Check",
        "dependsOn": [
          {
            "activity": "Get ELT Values",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "3c72dc57-586b-9254-40b3-f89b4e9a7cd1",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "elt_id": {
              "value": { "value": "@variables('elt_values')[0]", "type": "Expression" },
              "type": "string"
            },
            "trigger_time": {
              "value": { "value": "@variables('elt_values')[1]", "type": "Expression" },
              "type": "string"
            },
            "pipeline_name": {
              "value": { "value": "@pipeline().PipelineName", "type": "Expression" },
              "type": "string"
            },
            "data_product": {
              "value": { "value": "@pipeline().parameters.Product_Name", "type": "Expression" },
              "type": "string"
            },
            "database_names": {
              "value": { "value": "@variables('database_names')", "type": "Expression" },
              "type": "string"
            },
            "workspace_id": {
              "value": { "value": "@pipeline().DataFactory", "type": "Expression" },
              "type": "string"
            },
            "metadata_lakehouse_id": {
              "value": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
              "type": "string"
            },
            "pipeline_id": {
              "value": { "value": "@pipeline().Pipeline", "type": "Expression" },
              "type": "string"
            },
            "run_id": {
              "value": { "value": "@pipeline().RunId", "type": "Expression" },
              "type": "string"
            },
            "template_name": {
              "value": { "value": "dp_pipeline_failed.json", "type": "Expression" },
              "type": "string"
            },
            "feed_name": {
              "value": { "value": "@pipeline().parameters.Feed_Name", "type": "Expression" },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pipeline Failed Event",
        "dependsOn": [
          {
            "activity": "Invoke Data Product Ochestrator",
            "dependencyConditions": ["Failed"]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "3c72dc57-586b-9254-40b3-f89b4e9a7cd1",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "elt_id": {
              "value": { "value": "@variables('elt_values')[0]", "type": "Expression" },
              "type": "string"
            },
            "trigger_time": {
              "value": { "value": "@variables('elt_values')[1]", "type": "Expression" },
              "type": "string"
            },
            "pipeline_name": {
              "value": { "value": "@pipeline().PipelineName", "type": "Expression" },
              "type": "string"
            },
            "data_product": {
              "value": { "value": "@pipeline().parameters.Product_Name", "type": "Expression" },
              "type": "string"
            },
            "database_names": {
              "value": { "value": "@variables('database_names')", "type": "Expression" },
              "type": "string"
            },
            "workspace_id": {
              "value": { "value": "@pipeline().DataFactory", "type": "Expression" },
              "type": "string"
            },
            "metadata_lakehouse_id": {
              "value": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
              "type": "string"
            },
            "pipeline_id": {
              "value": { "value": "@pipeline().Pipeline", "type": "Expression" },
              "type": "string"
            },
            "run_id": {
              "value": { "value": "@pipeline().RunId", "type": "Expression" },
              "type": "string"
            },
            "template_name": {
              "value": { "value": "database_not_online.json", "type": "Expression" },
              "type": "string"
            },
            "feed_name": {
              "value": { "value": "@pipeline().parameters.Feed_Name", "type": "Expression" },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Database Not Online Event",
        "dependsOn": [
          {
            "activity": "If Skip Database Restore Check",
            "dependencyConditions": ["Failed"]
          }
        ]
      },
      {
        "type": "InvokePipeline",
        "typeProperties": {
          "parameters": {
            "Feed_Name": { "value": "@pipeline().parameters.Feed_Name", "type": "Expression" },
            "lh_metadata_id": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
            "Product_Name": { "value": "@pipeline().parameters.Product_Name", "type": "Expression" },
            "ELT_Id": { "value": "@variables('elt_values')[0]", "type": "Expression" }
          },
          "waitOnCompletion": true,
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "pipelineId": "eaed8cdf-3c7a-430c-91f0-d071390bbc97",
          "operationType": "InvokeFabricPipeline"
        },
        "externalReferences": {
          "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pipeline Success Event",
        "dependsOn": [
          {
            "activity": "Invoke Data Product Ochestrator",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      }
    ],
    "parameters": {
      "Feed_Name": { "type": "string", "defaultValue": "policy_dp" },
      "Product_Name": { "type": "string", "defaultValue": "POLICY" },
      "lh_metadata_id": { "type": "string", "defaultValue": "6740d2cc-6489-41d9-af20-315d92df9c07" },
      "workspace_id": { "type": "string", "defaultValue": "02c3d55e-485c-419b-b587-21a51aeb261e" },
      "lh_raw_id": { "type": "string", "defaultValue": "1027abfc-e358-48ff-9ab7-0b099049fc72" },
      "lh_observability_id": { "type": "string", "defaultValue": "4d28e738-2cce-4fc1-b6eb-c91f9b28b95b" },
      "skip_database_restore": { "type": "bool", "defaultValue": false }
    },
    "variables": {
      "elt_values": { "type": "Array" },
      "database_names": {
        "type": "String",
        "defaultValue": "GIGINSDATA,PROSPECTHOLDINGARCHIVE"
      },
      "delay_seconds": { "type": "Integer", "defaultValue": 60 }
    }
  }
}