src/fabric/policy_dp/pipelines/dfa_pln_dpr_001_orchestrator.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "elt_values",
          "value": {
            "value": "@createArray(pipeline().RunId,pipeline().TriggerTime)",
            "type": "Expression"
          }
        },
        "policy": { "secureOutput": false, "secureInput": false },
        "name": "Get ELT Values",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": { "type": "JsonReadSettings" },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "data_product/feeds",
                "fileName": "orchestrator_products.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "2e07d385_28c5_4ce9_85d1_63a09bb2f23c",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "@pipeline().parameters.lh_metadata_id",
                  "workspaceId": "@pipeline().parameters.workspace_id",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Product List",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@pipeline().parameters.skip_database_restore",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "DatabaseNames": { "value": "@variables('database_names')", "type": "Expression" },
                  "DelaySeconds": { "value": "@variables('delay_seconds')", "type": "Expression" },
                  "CurrentDate": {
                    "value": "@formatDateTime(addHours(pipeline().TriggerTime, -4),'yyyy-MM-dd')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "14fa050e-28ab-8143-42c1-2568076e9dcc",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check Database Restore State",
              "dependsOn": []
            }
          ]
        },
        "name": "If Skip Database Restore Check",
        "dependsOn": [
          {
            "activity": "Get ELT Values",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Product List').output.value",
            "type": "Expression"
          },
          "condition": {
            "value": "@equals(item().run_group, 1)",
            "type": "Expression"
          }
        },
        "name": "Filter Group 1",
        "dependsOn": [
          {
            "activity": "Get Product List",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Product List').output.value",
            "type": "Expression"
          },
          "condition": {
            "value": "@equals(item().run_group, 2)",
            "type": "Expression"
          }
        },
        "name": "Filter Group 2",
        "dependsOn": [
          {
            "activity": "Get Product List",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Filter Group 1').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "JsonSource",
                  "formatSettings": { "type": "JsonReadSettings" },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": false,
                    "enablePartitionDiscovery": false
                  }
                },
                "datasetSettings": {
                  "type": "Json",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "folderPath": "feeds",
                      "fileName": {
                        "value": "@concat(item().Feed_Name,'.json')",
                        "type": "Expression"
                      }
                    }
                  },
                  "schema": {},
                  "linkedService": {
                    "name": "2e07d385_28c5_4ce9_85d1_63a09bb2f23c",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "@pipeline().parameters.lh_metadata_id",
                        "workspaceId": "@pipeline().parameters.workspace_id",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get Feed Metadata",
              "dependsOn": []
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "Feed_Name": { "value": "@item().Feed_Name", "type": "Expression" },
                  "Product_Name": { "value": "@item().Product_Name", "type": "Expression" },
                  "lh_metadata_id": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
                  "workspace_id": { "value": "@pipeline().parameters.workspace_id", "type": "Expression" },
                  "lh_observability_id": { "value": "@pipeline().parameters.lh_observability_id", "type": "Expression" },
                  "lh_raw_id": { "value": "@item().lh_raw_id", "type": "Expression" },
                  "skip_database_restore": { "value": "@item().skip_database_restore", "type": "Expression" }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "ed2ee9ba-995c-4ae9-a31a-0e29934a405b",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Run Core Pipeline",
              "dependsOn": [
                {
                  "activity": "Get Feed Metadata",
                  "dependencyConditions": ["Succeeded"]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "Feed_Name": { "value": "@item().Feed_Name", "type": "Expression" },
                  "Product_Name": { "value": "@item().Product_Name", "type": "Expression" },
                  "lh_metadata_id": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
                  "ELT_Id": { "value": "@variables('elt_values')[0]", "type": "Expression" },
                  "email_template_name": "dp_loopback_verification_results.json",
                  "parameter_template_name": "params_loopback_verification.json"
                },
                "waitOnCompletion": false,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "eaed8cdf-3c7a-430c-91f0-d071390bbc97",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "DP Success Event (async)",
              "dependsOn": [
                {
                  "activity": "Run Core Pipeline",
                  "dependencyConditions": ["Succeeded"]
                }
              ]
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "3c72dc57-586b-9254-40b3-f89b4e9a7cd1",
                "workspaceId": "00000000-0000-0000-0000-000000000000"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "DP Failed Event",
              "dependsOn": [
                {
                  "activity": "Run Core Pipeline",
                  "dependencyConditions": ["Failed"]
                }
              ]
            }
          ]
        },
        "name": "ForEach Group 1 (Sequential)",
        "dependsOn": [
          {
            "activity": "If Skip Database Restore Check",
            "dependencyConditions": ["Succeeded"]
          },
          {
            "activity": "Filter Group 1",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('Filter Group 2').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "JsonSource",
                  "formatSettings": { "type": "JsonReadSettings" },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": false,
                    "enablePartitionDiscovery": false
                  }
                },
                "datasetSettings": {
                  "type": "Json",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "folderPath": "feeds",
                      "fileName": {
                        "value": "@concat(item().Feed_Name,'.json')",
                        "type": "Expression"
                      }
                    }
                  },
                  "schema": {},
                  "linkedService": {
                    "name": "2e07d385_28c5_4ce9_85d1_63a09bb2f23c",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "@pipeline().parameters.lh_metadata_id",
                        "workspaceId": "@pipeline().parameters.workspace_id",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get Feed Metadata G2",
              "dependsOn": []
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "Feed_Name": { "value": "@item().Feed_Name", "type": "Expression" },
                  "Product_Name": { "value": "@item().Product_Name", "type": "Expression" },
                  "lh_metadata_id": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
                  "workspace_id": { "value": "@pipeline().parameters.workspace_id", "type": "Expression" },
                  "lh_observability_id": { "value": "@pipeline().parameters.lh_observability_id", "type": "Expression" },
                  "lh_raw_id": { "value": "@item().lh_raw_id", "type": "Expression" },
                  "skip_database_restore": { "value": "@item().skip_database_restore", "type": "Expression" }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "ed2ee9ba-995c-4ae9-a31a-0e29934a405b",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Run Core Pipeline G2",
              "dependsOn": [
                {
                  "activity": "Get Feed Metadata G2",
                  "dependencyConditions": ["Succeeded"]
                }
              ]
            },
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "Feed_Name": { "value": "@item().Feed_Name", "type": "Expression" },
                  "Product_Name": { "value": "@item().Product_Name", "type": "Expression" },
                  "lh_metadata_id": { "value": "@pipeline().parameters.lh_metadata_id", "type": "Expression" },
                  "ELT_Id": { "value": "@variables('elt_values')[0]", "type": "Expression" },
                  "email_template_name": "dp_loopback_verification_results.json",
                  "parameter_template_name": "params_loopback_verification.json"
                },
                "waitOnCompletion": false,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "eaed8cdf-3c7a-430c-91f0-d071390bbc97",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "ed22cf49-cea1-4171-ac69-28ae3fe2b9f1"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "DP Success Event G2",
              "dependsOn": [
                {
                  "activity": "Run Core Pipeline G2",
                  "dependencyConditions": ["Succeeded"]
                }
              ]
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "3c72dc57-586b-9254-40b3-f89b4e9a7cd1",
                "workspaceId": "00000000-0000-0000-0000-000000000000"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "DP Failed Event G2",
              "dependsOn": [
                {
                  "activity": "Run Core Pipeline G2",
                  "dependencyConditions": ["Failed"]
                }
              ]
            }
          ]
        },
        "name": "ForEach Group 2 (Parallel)",
        "dependsOn": [
          {
            "activity": "ForEach Group 1 (Sequential)",
            "dependencyConditions": ["Succeeded"]
          },
          {
            "activity": "Filter Group 2",
            "dependencyConditions": ["Succeeded"]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "3c72dc57-586b-9254-40b3-f89b4e9a7cd1",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Database Not Online Event",
        "dependsOn": [
          {
            "activity": "If Skip Database Restore Check",
            "dependencyConditions": ["Failed"]
          }
        ]
      }
    ],
    "parameters": {
      "lh_metadata_id": { "type": "string", "defaultValue": "6740d2cc-6489-41d9-af20-315d92df9c07" },
      "workspace_id": { "type": "string", "defaultValue": "02c3d55e-485c-419b-b587-21a51aeb261e" },
      "lh_observability_id": { "type": "string", "defaultValue": "4d28e738-2cce-4fc1-b6eb-c91f9b28b95b" },
      "skip_database_restore": { "type": "bool", "defaultValue": false }
    },
    "variables": {
      "elt_values": { "type": "Array" },
      "database_names": {
        "type": "String",
        "defaultValue": "GIGINSDATA,PROSPECTHOLDINGARCHIVE"
      },
      "delay_seconds": { "type": "Integer", "defaultValue": 60 }
    }
  }
}
